## Taking input - 2D lists

m,n - rows, columns

row1.......coln
row2
.
.
.
rowm.........coln

In [ ]:
#read number of rows and columns
dimension = [int(i) for i in input().split()]
m = dimension[0]
n = dimension[1]

a = []

for i in range(m):
    next_row = []
    next_row = [int(i) for i in input().split()]
    a.append(next_row)
    
print(a)

m,n - rows, columns

element1
element2
...
element(m*n)

In [ ]:
#read number of rows and columns
dimension = [int(i) for i in input().split()]
m = dimension[0]
n = dimension[1]

a = []


for i in range(m):
    next_row = []
    for j in range(n):
        next_row.append(int(input()))
    a.append(next_row)
print(a)

m,n - rows, columns

element1 element2 ....... element(m*n)

In [1]:
#read number of rows and columns
dimension = [int(i) for i in input().split()]
m = dimension[0]
n = dimension[1]
total_elements = m * n

raw_elements = [int(i) for i in input().split()]

a = []
count = 0

while count < m * n:
    next_row = []
    for j in range(n):
        next_row.append(raw_elements[count])
        count += 1
    a.append(next_row)

print(a)
len(a)

2 2
1 2 3 4
[[1, 2], [3, 4]]

2

## Sum of Columns

In [16]:
import numpy as np

def sum_of_cols(a):
    
    #assign dimensions of received list
    m, n = a.shape
    col_sum = np.array([0 for j in range(n)])
    
    #finding sum of columns
    for j in range(n):
        for i in range(m):
            col_sum[j] = col_sum[j] + a[i][j]
    print('Sum\n',col_sum)
    
    
    
a = np.array([[j for j in range(2)] for i in range(2)])
print('a\n',a,'\n\n')
sum_of_cols(a)

a
 [[0 1]
 [0 1]]


Sum
 [0 2]

In [35]:
a = [10,23,56,[78]]
b = list(a)
print('a id 23',id(a[1]))
print('b id 23',id(b[1]))
print('a id 78',id(a[3][0]))
print('b id 78',id(b[3][0]),'\n')

a[3][0] = 95
a[1] = 34

print('a id 34',id(a[1]))
print('b id 23',id(b[1]))

print('a id 95',id(a[3][0]))
print('b id 95',id(b[3][0]), '\n')

print('a now',a)
print('b now',b)

a id 23 140712972883432
b id 23 140712972883432
a id 78 140712972885192
b id 78 140712972885192

a id 34 140712972883784
b id 23 140712972883432
a id 95 140712972885736
b id 95 140712972885736

a now [10, 34, 56, [95]]
b now [10, 23, 56, [95]]

In [36]:
points = [[1, 2], [3, 1.5], [0.5,7]]
points.sort()
print(points)

[[0.5, 7], [1, 2], [3, 1.5]]

In [3]:
str1="Coding Ninjas"
lis1=str1.split(" ")
lis2=list(str1)
print(lis1,lis2)

['Coding', 'Ninjas'] ['C', 'o', 'd', 'i', 'n', 'g', ' ', 'N', 'i', 'n', 'j', 'a', 's']

In [5]:
str1="HellO{}niNja"
str1 = str1.replace("{}", " ")
str1=str1.lower()
pos=str1.find("o")
print(str1+str(pos))

hello ninja4

In [4]:
a= {1:2,2:3,3:4}
b= {7:2,10:3,6:4}
a.update(b)
print(a)
del a
print(a)

{1: 2, 2: 3, 3: 4, 7: 2, 10: 3, 6: 4}

NameError: name 'a' is not defined

In [1]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]