In [65]:
import pandas as pd

df = pd.DataFrame(['Pan', 'Panama', 'Pandora'], columns = ["Name"])

df.head()

      Name
0      Pan
1   Panama
2  Pandora

In [66]:
df.Name = df.Name.apply(lambda name: "New" if "Pan" in name else name)
df.head()

  Name
0  New
1  New
2  New

In [14]:
import re

list  = ['Pan', 'Panama', 'Pandora']

for name in list:
    if r"Pan" in name:
        print(True)

True
True
True

In [26]:
# importing pandas as pd
import pandas as pd

# Let's create a Dataframe
df = pd.DataFrame({'City':['New York', 'Parague', 'New Delhi', 'Venice', 'new Orleans'],
					'Event':['Music', 'Poetry', 'Theatre', 'Comedy', 'Tech_Summit'],
					'Cost':[10000, 5000, 15000, 2000, 12000]})

# Let's create the index
index_ = [pd.Period('02-2018'), pd.Period('04-2018'),
		pd.Period('06-2018'), pd.Period('10-2018'), pd.Period('12-2018')]

# Set the index
df.index = index_

# Let's print the dataframe
print(df)

                City        Event   Cost
2018-02     New York        Music  10000
2018-04      Parague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [28]:
# replace the matching strings
df_updated = df.replace(to_replace ='^Par', value = 'New_', regex = True)

# Print the updated dataframe
print(df_updated)

                City        Event   Cost
2018-02     New York        Music  10000
2018-04     New_ague       Poetry   5000
2018-06    New Delhi      Theatre  15000
2018-10       Venice       Comedy   2000
2018-12  new Orleans  Tech_Summit  12000

In [64]:
"hi" if 1 > 2 else "bye"

'bye'