Feature Details:

Variable   Definition

survival - Survival (0 = No, 1 = Yes)
pclass -   Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
sex -      Sex (0 = Female, 1 = Male)
Age -      Age in years
sibsp -    # of siblings / spouses aboard the Titanic
parch -    # of parents / children aboard the Titanic
ticket -   Ticket number
fare -     Passenger fare
cabin -    Cabin number
embarked - Port of Embarkation (C=Cherbourg,
           Q=Queenstown,
           S=Southampton)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
d = pd.read_csv("titanic.csv")
d.head()

## Mean Age of Survivors

Mean age of perished rounded of to 2 decimal places

In [ ]:
import pandas as pd

d = pd.read_csv("titanic.csv")

perished = d[d.Survived == 0]
print(round(perished.Age.mean(),2))

## Percentage of Survivors

In [ ]:
import pandas as pd

d = pd.read_csv("titanic.csv")

survived = d[d.Survived == 1]

p_sur = round((survived.shape[0]/d.shape[0])*100, 2)
print(sur_p)

male_sur = survived[survived.Sex == 1]

p_male_sur = round((male_sur.shape[0]/survived.shape[0])*100, 2)
print(p_male_sur)

p_female_sur = 100 - p_male_sur
print(p_female_sur)

## Highest Correlation

In [ ]:
import pandas as pd

d = pd.read_csv("titanic.csv")

corr = d.corr(numeric_only = True)['Survived'].sort_values(ascending = False)


print("Sex")
print(abs(round(corr.Sex, 2)))

## Calculate IQR

In [12]:
import pandas as pd

d = pd.read_csv("titanic.csv")

age = d.Age

age.dropna(inplace = True)

Q1 = age.quantile(0.25)
Q3 = age.quantile(0.75)

IQR = round(Q3-Q1, 2)

print(IQR)

17.88

In [2]:
d.Age.isnull().sum()

0

In [ ]:
import pandas as pd

d = pd.read_csv("titanic.csv")

d = d[d.Age]
print(d)


Q1 = d.Age.quantile(0.25)
Q3 = d.Age.quantile(0.75)

IQR = round(Q3-Q1, 2)

print(IQR)
d.head()

## Analyze Hypothesis

In [ ]:
import pandas as pd

d = pd.read_csv("titanic.csv")

survived = d[d.Survived == 1]
perished = d[d.Survived == 0]

sur_sex_mean = round(survived.Sex.mean(), 2)
per_sex_mean = round(perished.Sex.mean(), 2)

# print(sur_sex_mean, per_sex_mean)
print("Yes")