## Data Normalization

**Normalization is a scaling technique in which values are shifted and rescaled so that they end up ranging between 0 and 1. It is also known as Min-Max scaling.**

In [ ]:
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler

In [ ]:
# let us seperate out numerical features from dataset

dfrt2 = df.copy()
dfnorm=dfrt2.filter(['Item_Weight','Item_MRP'])

In [ ]:
# fit scaler on data
norm = MinMaxScaler().fit(dfnorm)
print(norm)

MinMaxScaler()

In [ ]:
# transform the data
dfnorm1 = norm.transform(dfnorm)

In [ ]:
# extract rowno as ndarray from dfrt2 to add to dfnorm1 ndarray
rownoarr=dfrt2[['rowno']].to_numpy()

In [ ]:
# append dfnorm2 ndarray with rowno and convert the resulting array into dataframe
dfnorm2=pd.DataFrame(np.append(dfnorm1,rownoarr,axis=1), columns=['Item_Weight','Item_MRP','rowno'])

In [ ]:
# drop non-normalized columns from original data frame dfrt2 and store in new data frame dfr2.
dfr2=dfrt2.drop(['Item_Weight','Item_MRP'],axis=1)

In [ ]:
#megre the two data frames dfnorm2 and dfr2 joining on 'rowno')
dfrt2=pd.merge(dfr2, dfnorm2,on='rowno')

In [ ]:
# finalize dataset by coping back to original data frame dfrt
dfrt=dfrt2.copy()
dfrt

,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_Type,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,rowno,Item_Weight,Item_MRP
0,FDA15,Low Fat,0.016047,Dairy,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,0,0.282525,0.927507
1,DRC01,Regular,0.019278,Soft Drinks,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,1,0.081274,0.072068
2,FDN15,Low Fat,0.016760,Meat,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,2,0.770765,0.468288
3,FDX07,Regular,0.000000,Fruits and Vegetables,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,3,0.871986,0.640093
4,NCD19,Low Fat,0.000000,Household,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,4,0.260494,0.095805
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8428,FDF22,Low Fat,0.056783,Snack Foods,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834,8518,0.137541,0.777729
8429,FDS36,Regular,0.046982,Baking Goods,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850,8519,0.227746,0.326263
8430,NCJ29,Low Fat,0.035186,Health and Hygiene,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136,8520,0.359929,0.228492
8431,FDN46,Regular,0.145221,Snack Foods,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976,8521,0.158083,0.304939
8432,DRG01,Low Fat,0.044878,Soft Drinks,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700,8522,0.610003,0.187510